.rowdata:hover {
	/* #을 붙이면 16진수(0~F) 0~15 : 16단계 16 * 16 * 16 가지 색상을 나타냄
		rgb 6자리(0~255) 0~255 : 256단계 256 * 256 * 256 가지 색상을 나타냄 */
	background: #ddd;
	cursor: pointer;
}

h2 {
	color: #747474;
    font-weight: bold;
}

.hr-bar {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.empty_table {
	background: #D5D5D5;
	text-align: center;
	height: 80px;
	vertical-align: middle;
	position: relative;
}

.empty_table_inner {
	color: rgba(79, 79, 79, 0.6);
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}