<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studywithme.mappers.groupMapper">

	<insert id="createGroup" useGeneratedKeys="true" keyProperty="groupNo">
		insert into group_info (groupName, groupLeader, groupExplain)
		values (#{groupName}, #{groupLeader}, #{groupExplain})
	</insert>
	
	<insert id="createMember">
		insert into group_member (groupNo, userId, userName, userGender, userCallNumber)
		values (#{groupNo}, #{userId}, #{userName}, #{userGender}, #{userCallNumber})
	</insert>
	
	<select id="myGroupList" resultType="com.studywithme.domain.GroupVO">
		select groupNo, groupName, groupLeader, groupCreateDate 
		  from group_info
		  where groupLeader = #{userId} 
		     or groupNo in (select groupNo
		                     from group_member
		                     where userId = #{userId})
		  order by groupCreateDate
	</select>
	
	<select id="myGroupMemberCountList" resultType="com.studywithme.domain.GroupMemberCountVO">
		select a.groupNo, ifnull(cnt, 0) as groupMemberCount
		  from (select groupNo from group_info where groupLeader = #{userId}
		        union
		  	    select groupNo from group_member where userId = #{userId}) as a 
		  left join (select groupNo, count(*) as cnt from group_member 
		 	   	       where groupNo in (select groupNo from group_info where groupLeader = #{userId}
		 				      			 union
		 							     select groupNo from group_member where userId = #{userId})
		 			   group by groupNo) as b
		  on a.groupNo = b.groupNo
	</select>
	
</mapper>