<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studywithme.mappers.studyMapper">

	<insert id="createStudy">
		insert into study_info (studyTitle, studyContent, studyWriter)
		values (#{studyTitle}, #{studyContent}, #{studyWriter})		
	</insert>
	
	<select id="readStudy" resultType="com.studywithme.domain.StudyVO">
		select * from study_info where studyNo = #{studyNo}
	</select>
	
	<select id="listStudy" resultType="com.studywithme.domain.StudyVO">
		<![CDATA[
		select * from study_info where studyNo > 0 order by studyNo desc, studyWriteDate desc
		]]>
	</select>
	
	<delete id="deleteStudy">
		delete from study_info where studyNo = #{studyNo}
	</delete>
	
	<update id="updateStudy">
		update study_info set studyTitle = #{studyTitle}, studyContent = #{studyContent}, studyUpdateDate = now() where studyNo = #{studyNo}
	</update>
	
	<update id="viewCountStudy">
		update study_info set studyViewCount = studyViewCount + 1 where studyNo = #{studyNo}
	</update>
	
	<insert id="applyStudy">
		insert into apply_info (studyNo, applyContent, applyWriter)
		values (#{studyNo}, #{applyContent}, #{applyWriter})
	</insert>
	
	<select id="readApply" resultType="com.studywithme.domain.ApplyVO">
		select * from apply_info where applyNo = #{applyNo}
	</select>
	
</mapper>