<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studywithme.mappers.studyMapper">

	<insert id="createStudy">
		insert into study_info (studyTitle, studyContent, studyWriter)
		values (#{studyTitle}, #{studyContent}, #{studyWriter})		
	</insert>
	
	<select id="readStudy" resultType="com.studywithme.domain.StudyVO">
		select * from study_info where studyNo = #{studyNo}
	</select>
	
	<select id="listStudy" resultType="com.studywithme.domain.StudyVO">
		<![CDATA[
		select * from study_info where studyNo > 0 order by studyNo desc, studyWriteDate desc
		]]>
	</select>
	
	<delete id="deleteStudy">
		delete from study_info where studyNo = #{studyNo}
	</delete>
	
	<update id="updateStudy">
		update study_info set studyTitle = #{studyTitle}, studyContent = #{studyContent}, studyUpdateDate = now() where studyNo = #{studyNo}
	</update>
	
	<update id="viewCountStudy">
		update study_info set studyViewCount = studyViewCount + 1 where studyNo = #{studyNo}
	</update>
	
	<insert id="applyStudy">
		insert into apply_info (studyNo, applyContent, applyWriter)
		values (#{studyNo}, #{applyContent}, #{applyWriter})
	</insert>
	
	<select id="readApply" resultType="com.studywithme.domain.ApplyVO">
		select * from apply_info where applyNo = #{applyNo}
	</select>
	
	<select id="myListStudy" resultType="com.studywithme.domain.StudyVO">
		<![CDATA[
		select * from study_info where studyWriter = #{studyWriter} and studyNo > 0 order by studyNo desc, studyWriteDate desc
		]]>
	</select>
	
	<select id="myListStudyCountApply" resultType="com.studywithme.domain.ApplyCountVO">
		<![CDATA[	  
		  select s.studyNo, ifnull(cnt, 0) as applyCount
		    from (select * from study_info where studyWriter = #{studyWriter}) as s
		    left join (select studyNo, count(*) cnt from apply_info group by studyNo) as a
		    on s.studyNo = a.studyNo
		    order by studyWriteDate desc
		]]>
	</select>
	
	<select id="myStudyApplyList" resultType="com.studywithme.domain.ApplyVO">
		<![CDATA[
		select * from apply_info where studyNo = #{studyNo} order by applyDate desc
		]]>
	</select>
	
	<select id="myStudyApplyUserList" resultType="com.studywithme.domain.UserVO">
		<![CDATA[	  
		  select userId, userGender
		    from user_info as u 
		    inner join apply_info as a 
		    on a.studyNo = #{studyNo} and u.userId = a.applyWriter;
		]]>
	</select>
	
	<select id="applyCheck" resultType="com.studywithme.domain.ApplyVO">
		select * from apply_info where studyNo = #{studyNo} and applyWriter = #{applyWriter}
	</select>
	
	<update id="applyPass">
		update apply_info set applyState = 1 where applyNo = #{applyNo}
	</update>
	
	<update id="applyFail">
		update apply_info set applyState = 0 where applyNo = #{applyNo}
	</update>
	
</mapper>